<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Hoc Ngay</button>
        </div>
        <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{data.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h5>{{data.name}}</h5>
            <p>{{data.title}}</p>
        </div>
    </div>
</div>